@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Oleo+Script&family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oleo Script';
  font-weight: normal;
}

body {
  align-items: center;
  justify-content: space-around;
  font-family: 'Lexend Deca';
}

header {
  
  background-color: #B00E0E;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  margin-right: 0.625rem;
}

header div + div {
  display: flex;
  align-items: center;
}

header div + div span + span {
  margin-left: 2rem;
}

header div + div span + span:hover {
  cursor: pointer;
}

.animais{
  border: 2px solid black;

}
