@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Oleo+Script&family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oleo Script';
  font-weight: normal;
}

body {
  align-items: center;
  justify-content: space-around;
  font-family: 'Lexend Deca';
  background-color: #f0f0f7;
}

header {
  
  background-color: #B00E0E;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  margin-right: 0.625rem;
}

header div + div {
  display: flex;
  align-items: center;
}

header div + div span + span {
  margin-left: 2rem;
}

header div + div span + span:hover {
  cursor: pointer;
}

.animais .animal{
  border: 2px solid rgb(163, 163, 163);
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 10px 0px 10px 0px;
  margin-bottom: 15px;
  position: relative;
}

.animais .animal .dadosAnimal{
  display: inline;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:400px;
  text-align: justify;
}

.animais .animal > img{
  height: 200px;
  width: 200px;
}

.animais .animal .dadosAnimal p{
  margin-bottom: 6px;
}

.animais .animal .dadosAnimal button{
  cursor: pointer;
  padding: 5px 0px 5px 0px;
  font-family: 'Oleo Script';
  font-size: large;
}

.animais{
  margin-top:15px;
}

.animais .animal .estrela{
  position: absolute;
  top:0;
  right: 0;
}

.animais .animal.desativado{
  display: none;
}
